.nav-btn {
    background-color: #555555;
    color: white;
    border: 1px solid #828282;
    transition: .1s ease-in;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-btn:hover {
    background-color: #3b3b3b;
    color: white;
}